<div class="container">
    <div class="row justify-content-md-center form1container">
        <div class="col-sm-4">
            <form method="post" action="http://localhost:3000/api/addinventory">
                <div class="mb-3">
                    <label class="form-label">shipping data</label>
                    <input name="date" type="date" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">product Name</label>
                    <input name="productname" type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">sku</label>
                    <input name="sku" type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">qty ordered</label>
                    <input name="qtyordered" type="number" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Damages</label>
                    <input name="damages" type="numbers" class="form-control">
                </div>





                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


        </div>

    </div>

</div>