<main class="py-5">

  <section class="hero">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold">Quick Ship</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">A reliable and safe way to do E-commerce.
          quick ship. An all inclucisve companey that will handle your prodcuts like its our own.
          We speiclaize in small Buissness of all kind. with our complete fulfilment center streatched across
          the country, We will save you time and energy by reciving and manging your orders and shipments.
          quick ship, will be your partener in Arms.
          chose from our 3 services. Any questions? please sumbit a form or lets chat down below.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">sign up</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Call Now</button>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid py-5">
    <div class="row">
      <div class="col-md-4 px-3">
        <div class="card">
          <img src="/assets/imgs/mainimg.jpg" class="card-img-top" alt=" warehouse gif">
          <div class="card-body">
            <h5 class="card-title">Reciving</h5>
            <p class="card-text">quick ship will be able to recive your shipments and send out orders on your Behalf.
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>

      <div class="col-md-4 px-3">
        <div class="card">
          <img src="/assets/imgs/mainimg.jpg" class="card-img-top" alt=" warehouse gif">
          <div class="card-body">
            <h5 class="card-title">Inspection</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 px-3">
        <div class="card">
          <img src="/assets/imgs/mainimg.jpg" class="card-img-top" alt=" warehouse gif">
          <div class="card-body">
            <h5 class="card-title">Inventory Mangment</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
    </div>

  </section>
</main>