<main class="py-5">

  <section class="hero">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold" id="words">Quick Ship</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">A reliable and safe way to do E-commerce.
          Quick ship. An all inclucisve companey that will handle your prodcuts like its our own.
          We speiclaize in small Buissness of all kind. with our fulfilment center streatched across
          the country, We will save you time and energy by reciving and manging your orders and shipments.
          Quick ship, will be your partener in Arms.
          chose from our 3 services. Any questions? please sumbit a form or lets chat down below.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="signup">Get started</a>

        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid py-5">
    <div class="row">
      <div class="col-md-4 px-3">
        <div class="card">
          <img src="/assets/imgs/inventory.png" class="card-img-top" alt=" warehouse gif">
          <div class="card-body">
            <h5 class="card-title">Reciving</h5>
            <p class="card-text">Quick ship will be able to recive your shipments and send out orders on your Behalf.
              <a href="services" class="btn btn-primary">services</a>
          </div>
        </div>

      </div>

      <div class="col-md-4 px-3">
        <div class="card">
          <img src="/assets/imgs/inventory.png" class="card-img-top" alt=" warehouse gif">
          <div class="card-body">
            <h5 class="card-title">Inspection</h5>
            <p class="card-text"> Quick ship will be your eyes-we will make and damages or mistakes in order are
              handeled.
              content.</p>
            <a href="services" class="btn btn-primary">services</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 px-3">
        <div class="card">
          <img src="/assets/imgs/inventory.png" class="card-img-top" alt=" warehouse gif">
          <div class="card-body">
            <h5 class="card-title">Inventory Mangment</h5>
            <p class="card-text"> With our own invnetory mangment system you will be able to fill in your shipments
              before thy are arrive at our wearhouse.</p>
            <a href="services" class="btn btn-primary">services</a>
          </div>
        </div>

      </div>
    </div>

  </section>
</main>
<script>

  let words = [
    'Quick', 'Reliable', 'Dependable']
  let counter = 0;
  function changingwords() {
    if (counter > words.length - 1) {
      counter = 0;
    }

    document.getElementById('words').innerText = words[counter];
    counter++;
  }

  setInterval(function () {
    changingwords();
  }, 3000);

</script>