<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead"> We are proud to give You 3 starting services, for small and emarging business.
    please select one of our services down below. 
  </p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Starter</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$5 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>20 skus included</li>
          <li>2 sq ft of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="signup">Get started</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$10 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li> up to 50 skus included</li>
          <li>10 sq ft of storage</li>
          <li>Priority email support</li>
          <li>Help center access</li>
        </ul>
        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="signup">Get started</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$20 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>100 skus included</li>
          <li>15 sq ft of storage</li>
          <li>Phone and email support</li>
          <li>Help center access</li>
        </ul>
       <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="signup">Get started</a>
      </div>
    </div>
  </div>
  <a type="button"  href="signup">